<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">
	<insert id="insert" parameterType="com.livelikesloth.step03.todo.dto.TodoDto">
		insert into todo
		(num, content, sysdate)
		values(todo_seq.nextval, #{content},#{sysdate})
	</insert>
	<update id="update" parameterType="com.livelikesloth.step03.todo.dto.TodoDto">
		update todo
		set content=#{content}, sysdate=#{sysdate}
		where num=#{num}
	</update>
	<delete id="delete" parameterType="int">
		delete from todo
		where num=#{num}		
	</delete>
	<select id="getData" parameterType="int" resultType="com.livelikesloth.step03.todo.dto.TodoDto">
		select num, content, sysdate
		from todo
		where num=#{num}
	</select>
	<select id="getList" resultType="com.livelikesloth.step03.todo.dto.TodoDto">
	select num, content, sysdate
	from todo
	order by num asc
	</select>

</mapper>